process.container = 'tronghieunguyen/bcr-dandelion:latest'

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
        process.executor  = 'local'
    }
    slurm {
        includeConfig "${projectDir}/../../conf/slurm.config"
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
    }
    local {
        process.executor = 'local'
    }
}

process {
    withName: 'FORMAT_REANNOTATE' {
        cpus   = 2
        memory = '4 GB'
    }
    withName: 'CLONAL_NETWORK' {
        cpus   = 2
        memory = '6 GB'
    }
}
