params {
    samplesheet  = ""
    outdir       = "results"

    // Internal — do not expose to users
    projectdir   = "/Users/hieunguyen/src/tmp/Fragmentomics_TF_and_enrich_features"
}

docker {
    enabled    = true
    runOptions = "-v ${params.projectdir}:${params.projectdir} -v /mnt:/mnt -v /localtmp:/localtmp"
}

process {
    container = "tronghieunguyen/wgs-fragmentomics-features:latest"
    memory    = '16 GB'
}
