params {
    samplesheet  = ""
    outdir       = "results"

    // Internal — do not expose to users
    projectdir   = "/Users/hieunguyen/src/bioflow-portal/nextflow/pipelines/fragmentomics_TF_features"
}

docker {
    enabled    = true
    runOptions = "-v ${params.projectdir}:${params.projectdir}"
}

process {
    container = "tronghieunguyen/wgs-fragmentomics-features:latest"
    memory    = '16 GB'
}
