process.container = 'tronghieunguyen/bcr-immcantation:latest'

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
        process.executor  = 'local'
    }
    slurm {
        includeConfig "${projectDir}/../../conf/slurm.config"
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
    }
    local {
        process.executor = 'local'
    }
}

process {
    withName: 'IGBLAST_REANNOTATION' {
        cpus   = 2
        memory = '4 GB'
    }
    withName: 'DEFINE_CLONES|CREATE_GERMLINES' {
        cpus   = 2
        memory = '4 GB'
    }
    withName: 'LINEAGE_TREES' {
        cpus   = 2
        memory = '6 GB'
    }
}
