process.container = 'tronghieunguyen/single_cell_pipeline'

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
        process.executor  = 'local'
    }
    slurm {
        includeConfig "${projectDir}/../../conf/slurm.config"
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
    }
    local {
        process.executor = 'local'
    }
}
