process.container = 'tronghieunguyen/bcr-scirpy:latest'

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
        process.executor  = 'local'
    }
    slurm {
        includeConfig "${projectDir}/../../conf/slurm.config"
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'
    }
    local {
        process.executor = 'local'
    }
}

process {
    withName: 'DEFINE_CLONOTYPES' {
        cpus   = 2
        memory = '6 GB'
    }
    withName: 'REPERTOIRE_OVERLAP' {
        cpus   = 2
        memory = '4 GB'
    }
}
