process {
    executor       = 'slurm'
    queue          = 'normal'
    cpus           = 4
    memory         = '16 GB'
    time           = '4 h'
    errorStrategy  = 'retry'
    maxRetries     = 2

    withName: 'CREATE_SEURAT' {
        cpus   = 4
        memory = '32 GB'
        time   = '2 h'
        // Adjust the container or module load for your HPC:
        // module = 'R/4.3.0'
        // container = 'docker://satijalab/seurat:5.0.0'
    }
}

executor {
    name           = 'slurm'
    queueSize      = 50
    submitRateLimit = '10/1min'
}
